/* Overall style concept */
body {
    font-family: 'Lato', sans-serif;
    background-color: #B6CFB6;
    padding: 20px;
    color: #333;
}

/* Styling the main header */
h1 {
    text-align: center;
    color: #4F4F4F;
    font-weight:900;
    font-size:50px;
}

/* Styling the posts on homepage */
.post {
    color: #4F4F4F;
    background-color: #E6FCE5;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}

/* Design for all the buttons */
button, .btn {
    padding: 0.5em 1em;
    background-color: #97C1A9;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size:1em;
    text-decoration: none;

}

button:hover, .btn:hover {
    background-color: #CCE2CB;
    text-decoration: none;
}

/* Design for the form and background of header section */
.header-box {
    background-image: url('/static/pexels-minan1398-1353938.jpg');
    background-size: cover;
    background-position: top center;
    padding: 2rem;
    color: white;
    border-radius: 10px;
    margin-bottom: 2rem;
    text-align: center;
    /* free picture from pexels, by Min An, https://www.pexels.com/@minan1398/ */
}

/* Style for the blog posts */
.post-actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

/* Styling of the single full text post view */
.post-detail {
    background-color: #E6FCE5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}


.post-detail h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}


.post-detail p {
    font-size: 1.2em;
    line-height: 1.6;
}
