<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<!-- Displays one single post on the whole site and a back to home link -->
    <div class="post-detail">
        <h1>{{ post.title }}</h1>
        <h4>by {{ post.author }}</h4>
        <p>{{ post.content }}</p>
    </div>

    <a href="{{ url_for('index') }}" class="btn">Back to Homepage</a>

</body>
</html>
